<?xml version='1.0'?>
<model>
  <name>city_pack_3</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>MEE</name>
  </author>

  <description>
    Adapted from https://sketchfab.com/3d-models/city-pack-3-f4c5a825a88b487c99877e803ba5c786
  </description>
</model>

